body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1a2f03, #14063f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: grey;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  }
  .container1 {
    margin-left: 100px;
    padding-left: 20px;
    text-align: center;
    background-color:grey;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  }
  
  .weather-box p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }